@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black duration-100;
}

.hoverAnimation {
  @apply dark:hover:bg-white hover:bg-black duration-100 ease-in-out hover:bg-opacity-10 dark:hover:bg-opacity-10 xl:p-3 rounded-full hover:cursor-pointer
    w-11 h-11 xl:w-auto xl:h-auto;
}

.imageHoverAnimation {
  @apply dark:hover:bg-white hover:bg-black duration-100 ease-in-out hover:bg-opacity-10 dark:hover:bg-opacity-10 xl:p-3 rounded-full hover:cursor-pointer
      w-12 h-12 xl:w-auto xl:h-auto;
}

.iconAnimation {
  @apply hover:bg-[#F4AF01] hover:bg-opacity-10 
    rounded-full cursor-pointer w-9 h-9 flex items-center justify-center;
}

.animate__fade--out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}

.comment-text {
  display: block;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
